* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

:root {
  --primary-color: #fa4a0c;
  --second-color: #252b42;
  --text-color: #737373;
  --montserrat-font-family: "Montserrat", sans-serif;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 40px 0;
}

span {
  margin: 0 57px;
}

span > a {
  text-decoration: none;
  font-family: var(--montserrat-font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: var(--second-color);
}

span > a:hover {
  color: var(--primary-color);
}

.app {
  background-image: url(./assets/img/header-banner.png);
}

.container {
  max-width: 1200px;
  height: 619px;
  margin: 0 auto;
  text-align: center;
}

.app-text {
  font-size: 24px;
  font-weight: 700;
  font-family: var(--montserrat-font-family);
  color: #f6f6f6;
  padding: 80px 0 10px 0;
}

.app-title {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 58px;
  font-weight: 700;
}

.app-about {
  font-family: var(--montserrat-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 38px;
  padding: 15px 0 90px 0;
  color: #f6f6f6;
}

.btn {
  display: inline-block;
  width: 236px;
  height: 68px;
  margin: 0 33px;
  border-radius: 30px;
  color: #e5e5e5;
  font-family: var(--montserrat-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 68px;
}
.colorBtn {
  background-color: var(--primary-color);
}

.transparentBtn {
  border: 1px solid #ffffff;
}
