@import "./fonts.css";
@import "./reset.css";

.burger-menu{
  display: none;
}

.hearts{
}

header{
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  display: flex;
}
body{
}